body {
    padding: 0px;
    margin: 0px;
}

input[type=range] {
    -webkit-appearance: none;
}

#viewport {
    position: relative;
}

#overlay {
    width: 30%;
    height: 100%;
    position: absolute;
    z-index: 9;
}

#scrubber {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(200, 200, 200, 0.95);
    padding-bottom: 15px;
}

#scrubber_range {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#scrubber_scroller {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.scrubber_item {
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.scruber_item_img {
    height: 200px;
    width: auto;
    display: block;
    padding: 5px;
}

/* iPhone portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 15px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background: white;
        margin-top: -28px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }

    .scruber_item_img {
        height: 400px;
        padding: 20px;
    }
}

/* iPhone landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 8px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: white;
        margin-top: -16px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }

    #scrubber {
        padding-bottom: 10px;
    }

    #scrubber_range {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .scruber_item_img {
        height: 200px;
        padding: 10px;
    }
}

/* iPad portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 15px;
        background: #ddd;
        border: none;
        border-radius: 4px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: white;
        margin-top: -23px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }

    .scruber_item_img {
        height: 400px;
        padding: 20px;
    }
}

/* iPad landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 6px;
        background: #ddd;
        border: none;
        border-radius: 4px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: white;
        margin-top: -17px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }

    #scrubber_range {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .scruber_item_img {
        height: 256px;
        padding: 20px;
    }
}
