# You may add the plugins that should be included here.
plugins: [
  'highlights'
 # 'example'
]

# you may override this configuration by creating a file called plugins-override.cson, e.g.:
#plugins:
#    include: [
#        'example'
#    ]
#    exclude: [
#      'highlights'
#    ]
