/* 'Read and Record' */
#read_and_record_editing_container {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2pt;
    background-color: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

#avatar_scroller {
    width: 96%;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.avatar_arrow_container {
    width: 2%;
    display: inline-block;
}

.avatar_arrow {
    width: 100%;
    display: block;
}

.avatar_item {
    border-radius: 10px;
    margin: 5px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.avatar_item_img {
    display: block;
}

/* iPhone portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    #read_and_record_editing_container {
        width: 70%;
        margin-top: 30px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .read_and_record_text_field {
        font-size: 24pt;
    }
}

/* iPhone landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    .read_and_record_text_field {
        font-size: 18pt;
    }
}

/* iPad portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    #read_and_record_editing_container {
        width: 60%;
        margin-top: 30px;
        margin-left: 20%;
        margin-right: 20%;
    }
}
